{% extends '_layouts/default.html.twig' %}

{% block title %}Welcome to ...!{% endblock %}

{% block body %}
<div class="container">
    <h1>Welcome to ...! ✅</h1>

    <ul>
        <li><a href="{{ path('form_register') }}">Register</a> </li>
        <li><a href="{{ path('form_login') }}">Login</a></li>
        <li><a href="{{ path('form_logout') }}">Logout</a></li>
        <li><a href="{{ path('article_list') }}">Articles</a></li>
    </ul>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
