<div class="page-header">
    <h1 class="page-title">
        {% if icon is defined and icon %}
            <i class="{{ icon }} page-title-icon"></i>
        {% endif %}

        {{ title }}
    </h1>

    {% if subtitle is defined and subtitle %}
        <div class="page-subtitle">{{ subtitle }}</div>
    {% endif %}

    {% if show_article_info is defined and show_article_info %}
        <div class="page-subtitle">
            <dl class="article-info muted">
                <dt class="article-info-term">
                    Details
                </dt>
                <dd class="createdby hasTooltip" itemprop="author" title="" data-original-title="Written by ">
                    <i class="fa fa-user"></i>
                    <a href="{{ path('article_show', {'slug': article.slug }) }}">
                        <span itemprop="name">{{ article.author }}</span>
                    </a>
                    <meta itemprop="name" content="{{ article.author }}">
                </dd>
                <dd class="category-name hasTooltip" title="" data-original-title="Category: ">
                    <i class="fa fa-folder-open"></i>
                    <a href="{{ path('article_show', {'slug': article.slug }) }}"><span itemprop="genre">{{ article.category }}</span></a>
                </dd>
                <dd class="published hasTooltip" title="" data-original-title="Published: ">
                    <i class="fa fa-calendar"></i>
                    <time datetime="{{ article.createdAt | date("c") }}" itemprop="datePublished">
                        {{ article.createdAt | date("m/d/Y") }}
                        <meta itemprop="datePublished" content="{{ article.createdAt | date("c") }}">
                        <meta itemprop="dateModified" content="{{ article.updatedAt | date("c") }}">
                    </time>
                </dd>
                <dd class="hits">
                    <i class="fa fa-eye"></i>
                    <meta itemprop="interactionCount" content="UserPageVisits:670">
                    Hits: 70
                </dd>
            </dl>
        </div>
    {% endif %}

    {#{% if include.options %}#}
        {#<div class="page-options">{{ include.options }}</div>#}
    {#{% endif %}#}

    {#{% comment %}#}
        {#<nav class="page-breadcrumb breadcrumb">#}
            {#<a class="breadcrumb-item" href="javascript:void(0)">Library</a>#}
            {#<span class="breadcrumb-item active">Cards</span>#}
        {#</nav>#}
    {#{% endcomment %}#}
</div>