{{ form_start(form) }}
    {{ form_row(form.title, {
        label: 'Category title'
    }) }}
    {{ form_row(form.isPublished) }}
<a href="{{ path('admin_categories_list') }}" type="button" class="btn btn-danger">Cancel</a>
<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(form) }}