{% set page = null %}
{% set settings = null %}
{% if context['settings'] is defined %}
    {% set settings = context['settings'] %}
{% endif %}
{% if context['content'] is defined and context['content'] is not iterable %}
    {% set page = context['content'] %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ onl_render_language(settings, page) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" dir="ltr">
    <!--
        Regions:
            header: Items for the top header
            top_navigation: Items for the top menu
            featured_top: Items for the featured top
            messages: Items that are messages
            help: Items that are helpful
            breadcrumb: Items in the breadcrumb
            body:
            featured_bottom:
            footer:
    -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ onl_render_title(settings, page) }}{% endblock %}</title>
        <!-- SEO Info -->
        {% if settings is defined and page is defined %}
            {{ onl_render_seo_metadata(settings, page) }}
        {% endif %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
        {% endblock %}
        {% block javascripts_top %}
        {% endblock %}
        {% include '_layouts/components/social/_google.html.twig' %}
        {% include '_layouts/components/social/_facebook.html.twig' %}
        <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property={{ share_this_property }}&product=sticky-share-buttons' async='async'></script>
        <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property={{ share_this_property }}&product=gdpr-compliance-tool' async='async'></script>
    </head>
    <body>
        <div class="page">
            <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            {% block layout %}{% endblock %}
        </div>
        {% block javascripts %}
        {% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
