<div class="container">
    {{ form_start(form) }}
        <div class="row">
        <div class="col-md-8">
            {{ form_row(form.title, {
                label: 'Article title'
            }) }}
            {{ form_row(form.content) }}
            <div class="text-right">
                <a href="{{ path('admin_article_list') }}" type="button" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">{{ button_text }}</button>
            </div>
        </div>
        <div class="col-md-4">
            {{ form_row(form.coverImage) }}
            {% if(form.coverImage and form.vars.value) %}
                <img
                    class="img-fluid js-cover-image mr-auto ml-auto"
                    src="{{ asset(form.vars.value.coverImage) }}"
                    alt="cover-image"
                    style="max-height: 100px;"
                />
            {% endif %}
            {{ form_row(form.isPublished) }}
            {{ form_row(form.category) }}
            {% if form.publishedStartAt is defined %}
                {{ form_row(form.publishedStartAt) }}
            {% endif %}
            {% if form.publishedEndAt is defined %}
                {{ form_row(form.publishedEndAt) }}
            {% endif %}
        </div>
        </div>
    {{ form_end(form) }}
</div>
