{% extends '_layouts/default.html.twig' %}
{% set article = context['content'] %}

{% block title %}{{ onl_render_title(settings, page) }} - {{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <h3>{{ article.author.username }}</h3>
        {{ article.content | raw }}
    </div>
{% endblock %}